body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: limegreen;
}

main {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

input {
  min-width: 12rem;
  flex-grow: 1 3;
  background-color: black;
  color: limegreen;
  border-color: limegreen;
  margin: 0.5rem;
  line-height: 2rem;
  border-radius: 0.5rem;
  text-align: center;
}

/* https://newbedev.com/html-input-highlight-color-css-code-example */
input:focus {
  outline: none !important;
  border-color: lime;
  box-shadow: 0 0 1rem lime;
}

#domain {
  flex-grow: 1;
}

#page-url {
  flex-grow: 4;
}

h1,
p {
  margin: 0.1rem;
}

button {
  background-color: black;
  border-color: limegreen;
  color: limegreen;
  /* color: black; */
  border-radius: 50%;
  min-width: 3.5rem;
  /* background: radial-gradient(at 40% 40%, lime, black); */
}

button:hover {
  font-size: 1rem;
  color: lime;
  transition: font-size 0.1s, color 0.1s ease-in;
}

button:active {
  font-size: 0.8rem;
  color: green;
  transition: font-size 0.1s, color 0.1s ease-in;
}

/* https://stackoverflow.com/a/45023797/16921721 */
div {
  margin-top: 1.5rem;
  opacity: 0;
}

.fade-in {
  opacity: 1;
  transition: opacity 1s ease-in;
  -moz-transition: opacity 1s ease-in;
  -webkit-transition: opacity 1s ease-in;
}

.fade-out {
  opacity: 0;
  transition: opacity 1s ease-out;
  -moz-transition: opacity 1s ease-out;
  -webkit-transition: opacity 1s ease-out;
}
